# LATIHAN - P0W1D3AM : Conditional & Looping

Leasson Video [link](https://drive.google.com/file/d/15-5oeRzBu_yYYtlUlDqllZP8frQQZyJt/view)
**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [1]:
a = 100
b = 200
if a < b: #kondisi yang harus terpenuhi
  print("benar a lebih kecil dari b") #perintah yang dieksekusi

benar a lebih kecil dari b

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [2]:
if a > b: #kondisi yang harus terpenuhi
  print("benar angka a lebih besar dari b") #perintah yang dieksekusi jika kondisi terpenuhi/true
else:
  print("angka a lebig kecil dari b") #peritah yang diekse kusi jika kondisi tidak terpenuhi/false

angka a lebig kecil dari b

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [3]:
a = "januari" 
b = "februari"

if a != b: #variabel a dan b string dan casesensitiv
  print("a tidak sama dengan b")
else:
  print("a sama dengan b")

a tidak sama dengan b

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

In [5]:
a = 1000 #variabel int
b = 1000.0 #fariabel float

if a == b: #kondisi yang harus terpenuhi
  pass     #perintah pass atau tidak menampilkan dan eksekusi apapun jika true
else:
  print("a tidak sama dengn b")

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [6]:
angka_ganjil = [1,3,5,7] #variabel List
angka_genap  = [2,4,6,8] #variabel list

if angka_ganjil != angka_genap:
  print("angka_ganjil berbeda dengan angka_genap")
else:
  print("angka_ganjil sama dengan angka_genap")

angka_ganjil berbeda dengan angka_genap

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini mempunyai nilai atau tidak 

* `nama` = `budi`
* `usia` = 20
* `jenis_kelamin_pria` = True
* `alamat` = `None`
* `jumlah_motor` = 0
* `punya_rumah` = `False`

Jika True maka tulis/cetak `ada`

Jika False maka tulis/cetak `tidak ada`

In [10]:
nama = "budi"
usia = 20
jenis_kelamin_pria = True
alamat = None
jumlah_motor = 0
punya_rumah = False

if jenis_kelamin_pria: #hanya menuliskan variabel pada kondisi untuk mengecek nilai pada variabel
  print("ada")
else:
  print("tidak ada")

ada

**NOMOR 7**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini termasuk salah satu nilai dari variabel lain atau tidak

* *`pendidikan` = `s1`* terhadap *`daftar_pendidikan` = ['s1', 's2', 's3']*
* *`nama` = `budi`* terhadap *`nama_lengkap` = `budi kurniawan`*

Jika True maka tulis/cetak `merupakan bagian`

Jika False maka tulis/cetak `bukan merupakan bagian`

In [12]:
pendidikan = 's1'
daftar_pendidikan = ['s1','s2','s3']
nama = "budi"
nama_lengkap = "budi kurniawan"

if pendidikan in daftar_pendidikan and nama in nama_lengkap:#'in' mengecek nilai pada variabel lain 'and' menambah kondisi yang harus terpenuhi
  print("keduanya merupakan bagian")
else:
  print("keduanya bukan merupakan bagian")

keduanya merupakan bagian

**NOMOR 8 (NESTED IF)**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [13]:
a = 100
b = 100

if a < b: #kondisi pertama
  print("a lebih kecil dari b") # jika true dieksekusi
elif a > b:                     #nestedif kondisi kedua
  print("a lebih besar dari b") #jika kondisi kedua true dieksekusi
else:
  print("a sama dengan b")      #jika kodisi false dieksekusi

a sama dengan b

**NOMOR 9 (NESTED IF)**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000 dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000 dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000

In [23]:
uang = int(input("uang yang kamu punya : ")) #variabel uang berdasarkan input user dengan tipe data int

if uang >= 15000:
  print("pilih nasi goreng")
elif uang >= 10000 and  uang < 15000:
  print("pilih ketoprak")
elif uang >= 5000 and uang < 10000:
  print("pilih batagor")
else:
  print("pilih  es teh manis")

uang yang kamu punya : -6
pilih  es teh manis

**NOMOR 10**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [31]:
for i in range(5): #kondisi loop indeks dari 0 dalam range '5' indek ke 5 tidak ticetak
  print("hello")

hello
hello
hello
hello
hello

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [44]:
for i in range(0,6):
  print(i,end=' ')

0 1 2 3 4 5

In [45]:
#mengurutkan besar ke kecil
for i in range(5,-1,-1):
  print(i,end=' ')

5 4 3 2 1 0

In [48]:
#mengurtukan besar ke kecil menggunakan reserved
for i in reversed(range(0,6,1)):
  print(i,end=' ')

5 4 3 2 1 0

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [33]:
for i in range(3,6):
  print(i)

3
4
5

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [35]:
for i in range(1,11,3):
  print(i)

1
4
7
10

**NOMOR 14**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [58]:
for i in range(1,11):
  print(i,end=' ')
  if i == 8:
    break

1 2 3 4 5 6 7 8

**NOMOR 15**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10` dan angka tersebut kurang dari sama dengan 6

*Hasil : 2 4 6*

In [59]:
for i in range(1,11,):
  if i %2 == 0:
    print(i,end=' ')
  if i == 6:
    break

2 4 6

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini : 

* `daftar_nama` = `['anwar', 'budi', 'cecep', 'deny']`

In [61]:
daftar_nama = ['anwar', 'budi', 'cecep', 'deny']
for i in daftar_nama:
  print(i,end=' ')

anwar budi cecep deny