# **Non Graded Challenge 1 - SQL (Basic)**



---


## Assignment Instructions

Akses data dari [BigQuery Sandbox](https://console.cloud.google.com/bigquery) dengan ketentuan: 
- Project_id: `bigquery-public-data`
- Dataset: `san_francisco`
- Table: `bikeshare_trips` & `bikeshare_stations`

Untuk mempermudah pengerjaan, berikut kolom-kolom yang bisa difokuskan dari masing-masing tabel:
- Table `bikeshare_trips` : `trip_id`, `start_date`, `subscriber_type`, `start_station_name`, dan `start_station_id`
- Table `bikeshare_stations` : `station_id`, `name`, dan `landmark` 

Pada kasus ini, kamu diminta untuk membandingkan tingkat peminjaman sepeda dari `subcriber_type`: `Subscriber` di kota `Redwood City` untuk periode Q1 dan Q2 tahun 2016.

Hints:
- Lakukan join pada kedua tabel.
- Terapkan kondisional pada `start_date`, `subcriber_type`, dan `landmark`.
- Hitung banyak kemunculan entry data untuk masing-masing periode (1 Query untuk 1 periode).


---

##**ANSWER**

Melakukan SELECT :
- Table `bikeshare_trips` : `trip_id`, `start_date`, `subscriber_type`, `start_station_name`, dan `start_station_id`
- Table `bikeshare_stations` : `station_id`, `name`, dan `landmark`

In [ ]:
SELECT  trip.trip_id,trip.start_date,
        trip.subscriber_type,
        trip.start_station_name,
        trip.start_station_id,
        station.station_id,
        station.name,
        station.landmark

JOIN Tabel bikeshare_trips & bikeshare_stations

In [ ]:
FROM 
  bigquery-public-data.san_francisco.bikeshare_trips AS trip
JOIN
  bigquery-public-data.san_francisco.bikeshare_stations AS station
ON 
  trip.start_station_id = station.station_id

kondisional pada start_date, subcriber_type, dan landmark

In [ ]:
WHERE
  trip.subscriber_type ='Subscriber' 
  AND 
  station.landmark="Redwood City" 
  AND trip.start_date BETWEEN '2016-01-01' AND '2016-12-31';

Membandingkan tingkat peminjaman sepeda dari `subcriber_type`: `Subscriber` di kota `Redwood City` untuk periode Q1 dan Q2 tahun 2016

In [ ]:
SELECT  trip.trip_id,
        trip.start_date,
        trip.subscriber_type,
        trip.start_station_name,
        trip.start_station_id,
        station.station_id,
        station.name,
        station.landmark
FROM 
  bigquery-public-data.san_francisco.bikeshare_trips AS trip
JOIN
  bigquery-public-data.san_francisco.bikeshare_stations AS station
ON 
  trip.start_station_id = station.station_id
WHERE
  trip.subscriber_type ='Subscriber' 
  AND 
  station.landmark="Redwood City" 
  AND trip.start_date BETWEEN '2016-01-01' AND '2016-12-31';

Menghitung banyak kemunculan entry data untuk masing-masing periode (1 Query untuk 1 periode).

periode 2013

*note periode bisa dirubah sesuai data yang diinginkan

In [ ]:
SELECT COUNT(trip.trip_id)
FROM 
  bigquery-public-data.san_francisco.bikeshare_trips AS trip
JOIN
  bigquery-public-data.san_francisco.bikeshare_stations AS station
ON 
  trip.start_station_id = station.station_id
WHERE
       #Menentukan periode
  trip.start_date BETWEEN '2013-01-01' AND '2013-12-31';